.main-container {
  padding: 10px 15px;
}
.skyblue {
	background-color: #22c8ff;
  background-image:url("https://www.w3schools.com/w3images/bridge.jpg");
  background-size:100% 100%;
}
.deepskyblue {
	background-color: #00bfff;
  background-image:url("https://www.w3schools.com/howto/img_mountains_wide.jpg");
  background-size:100% 100%;
}
.darkerskyblue {
	background-color: #00a6dd;
  background-image:url("https://www.w3schools.com/w3images/hamburger.jpg");
  background-size:100% 100%;
}
.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 350px; 
	height: 100%;
	width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	background-color: #09c;
}
